:root {
  --title-color: #212121;
  --text-color: #757575;
  --text-color-white: #ffffff;
  --text-BG-color: #2196f3;
  --WEB-BG-color: #2196f3;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--text-color-white);
  color: var(--text-color);
}

.container {
  width: 1170px;
  padding: 0 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.text {
  color: var(--title-color);
}

.section {
  padding: 94px 0;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
}

.header-burger {
  padding: 0;
  border: none;
  background: var(--text-color-white);
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }
}

.header-position {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}

.logo-web {
  color: #000000;
}

.logo-studio {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.list {
  display: none;
}
@media screen and (min-width: 768px) {
  .list {
    display: flex;
    margin-left: 88px;
    width: 280px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .list {
    margin-left: 93px;
  }
}

.list-contacs {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-contacs {
    display: flex;
    margin-left: auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.list-item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.list-item:hover:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  transform: translate(0px, 27px);
}

.menu-contact + .menu-contact {
  margin-left: 50px;
}

.menu-contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.item-hover {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-hover:hover,
.item-hover:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: inherit;
}

.header-icons {
  margin-right: 10px;
  fill: #757575;
}

.hero {
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 60px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.2509803922), rgba(47, 48, 58, 0.2509803922)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background-image: url("../../img/2x/hero2x.jpg");
  }
}
.hero-title {
  color: var(--text-color-white);
  text-align: center;
  text-transform: uppercase;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 24px;
  color: white;
  background-color: #2196f3;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-position {
  margin-bottom: 10px;
}

.modal-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-form-field-input:hover,
.modal-form-field-input:focus,
.comment-area:hover,
.comment-area:focus,
.footer-input:hover,
.footer-input:focus {
  fill: #2196f3;
  outline: 1px solid #2196f3;
}

.modal-form-field-input {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  padding-left: 42px;
}

.comment-area {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  padding: 12px 15px;
  resize: none;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.footer-input {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-check {
  display: flex;
  width: 100%;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.modal-btn {
  margin-top: 30px;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal-text {
  margin-bottom: 12px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: 0.6px;
}

.modal-form-field-label {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-form-field-label-check {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.36px;
}

.modal-icons {
  position: absolute;
  top: 15px;
  left: 15px;
}

.modal-position {
  position: relative;
}

.modal-position:hover,
.modal-position:focus,
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #2196f3;
  fill: #2196f3;
}

.modal-close-btn {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;
  align-items: center;
  top: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.advantages {
  display: none;
}

.advantages-desc {
  margin-top: 10px;
  color: var(--text-color);
}

.advantages-title {
  text-align: center;
  margin-bottom: 10px;
}

.section-work {
  max-width: 1600px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-weight: 700px;
}

.we-du-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
  padding-bottom: 94px;
}

.we-du-item {
  position: relative;
  height: 294px;
  z-index: 1;
}

.work-title {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.desktop {
  padding: 27px 118px;
}

.mobile {
  padding: 27px 122.53px;
}

.design {
  padding: 27px 106.2px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.section-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
}

.card-box {
  background-color: white;
  padding: 30px 0;
}

.team-item {
  height: 430px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
  font-weight: 500px;
  font-size: 16px;
  margin-bottom: 10px;
}

.team-position {
  text-align: center;
  margin-bottom: 16px;
}

.card-box {
  padding: 30px;
  background-color: #ffffff;
}

.icon-list {
  display: flex;
  width: 205px;
  justify-content: space-between;
}

.icon-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  fill: #afb1b8;
  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #2196f3;
  fill: white;
}

.company-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.link-company {
  display: flex;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-company:hover,
.link-company:focus {
  border: 1px solid #2196F3;
  fill: #2196f3;
}

.footer {
  max-width: 1600px;
  padding: 60px 0;
  background-color: #2f303a;
  margin: 0 auto;
  text-align: left;
}

.logo-web-footer {
  color: var(--WEB-BG-color);
}

.logo-studio-footer {
  color: var(--text-color-white);
}

.address {
  width: 230px;
  color: var(--text-color-white);
  margin-top: 20px;
}

.footer-contacs-item {
  color: var(--text-color);
}

.footer-contacs-item {
  margin-top: 10px;
}

.footer-location {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.footer-icon {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.footer-title {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
}

.footer-input {
  height: 50px;
  width: 360px;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.3019607843);
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 15px;
}

.footer-form-field {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.footer-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
}

.footer-btn-icon {
  margin-left: 10px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */