.footer {
    max-width: 1600px;
    padding: 60px 0;
    background-color: #2f303a;
    margin: 0 auto;
    text-align:left;
}

.logo-web-footer {
    // color: #2196f3;
    color: var(--WEB-BG-color);
}

.logo-studio-footer {
    color:var(--text-color-white);
}

.address {
    width: 230px;
    color: var(--text-color-white);
    margin-top: 20px;
}

.footer-contacs-item {
    color: var(--text-color);
}

.footer-contacs-item {
    margin-top: 10px;
}

.footer-location {
    display: flex;
    column-gap: 70px;
}

.footer-icon {
    fill: #ffffff;
    background-color: #ffffff1a;
}

.footer-title {
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
}

.footer-input {
    height: 50px;
    width: 360px;
    border-radius: 5px;
    outline: 1px solid #FFFFFF4D;
    color: white;
    border: none;
    background-color: #00000000;
    padding: 0 15px;
}

.footer-form-field {
    display: flex;
    column-gap: 12px;
}

.footer-btn {
    display: flex;
    align-items: center;
    padding: 10px 28px;
}

.footer-btn-icon {
    margin-left: 10px;
    fill: #ffffff;
}