.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 480px){
        max-width: 480px;
    } 
        @media screen and (min-width: 768px){
        max-width: 768px;
    } 
        @media screen and (min-width: 1200px){
        max-width: 1200px;
    } 
}


.text {
    color: var(--title-color);
}

.section {
    padding: 94px 0;
    margin: 0 auto;
}


.header {
    padding: 16px 0;
    margin: 0 auto;

    @media screen and (min-width:768px) {
        padding: 26px 0;
    }
    @media screen and (min-width:1200px) {
        padding: 24px 0;
    }
}
.header-burger{
    padding: 0;
    border: none;
    background: var( --text-color-white);
    margin-left: auto;

    @media screen and (min-width:768px){
        display: none;
    }
}
.header-position {
    display: flex;
    align-items: center;
    
    @media screen and (min-width:768px){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
}

.logo-web {
    color: #000000;
}

.logo-studio {
    color: #2196f3;
}

.navigation {
    display: flex;
    align-items: center;
}

.list {
    // display: flex;
    display: none;
    // width: 280px;
    // justify-content: space-between;
    // margin-left: 93px;

    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 88px;
        width: 280px;
        justify-content: space-between;
    }
    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}
.list-contacs {
    // display: flex;
    display: none;
    // margin-left: auto;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        display: flex;
        margin-left: auto;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.list-item {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.list-item:hover:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #2196f3;
    border-radius: 2px;
    transform: translate(0px, 27px);
}



.menu-contact + .menu-contact {
    margin-left: 50px;
}

.menu-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.item-hover {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-hover:hover,
.item-hover:focus {
    color: #2196f3;
    fill: #2196f3;
}

.header-contact {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: inherit;
}

.header-icons {
    margin-right: 10px;
    fill: #757575;
}
