.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000033;
    z-index: 2;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
}
.modal-position{
    margin-bottom: 10px;
}
.modal-textarea{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.modal-form-field-input:hover,
.modal-form-field-input:focus,
.comment-area:hover,
.comment-area:focus,
.footer-input:hover,
.footer-input:focus {
    fill: #2196f3;
    outline: 1px solid #2196f3;
}

.modal-form-field-input {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    width: 100%;
    border: 1px solid #21212133;
    border-radius: 5px;
    padding-left: 42px;
}

.comment-area {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    padding: 12px 15px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #21212133;
}

.footer-input {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-check {
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 8px;
}

.modal-btn {
    margin-top: 30px;
}

.modal-link {
    color: #2196f3;
    text-decoration: underline;
}

.modal-text {   
    margin-bottom: 12px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: 0.6px;
}
.modal-form-field-label{
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.12px;
    // text-align: left;
    margin-bottom: 4px;
}
.modal-form-field-label-check{
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.36px;
}
.modal-icons {
    position: absolute;
    top: 15px;
    left: 15px;
}

.modal-position {
    position: relative;
}

.modal-position:hover,
.modal-position:focus,
.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #2196f3;
    fill: #2196f3;
}

.modal-close-btn {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    position: absolute;
    align-items: center;
    top: 15px;
    right: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #00000000;
    border: 1px solid #0000001a;
}
